@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutUS>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterPage.cshtml";
}
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h1>@Model.Value("hereticName")</h1>
        </header>
        <div>@Model.Value("hereticFace")</div>
        <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
        <h3>@Model.Value("hereticDescription")</h3>

    </div>
</section>